.container {
    text-align: center;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  body{
    background-color: lightskyblue;
   
  }

  
  
 